.gradle/
.gradle-user/
.kotlin/
local.properties
.idea/
*.iml
build/
captures/
.externalNativeBuild/
.cxx/
code/.jdk17/
code/.android-sdk/
code/.android-user/
code/.downloads/
code/.gradle/
code/.gradle-dist/
outputs/apk/*.apk
outputs/apk/releases/*.apk
*.jks
*.keystore
